.header1{
    background-color: #000080;
    color:white;
    display: flex;
    justify-content:space-between;
    padding: 10px 40px;
}
.headername1{
    font-size: 18px;
    font-weight: 600;
}
.headerlinks1{
    margin: 0px 15px;
}
.background1{
    background-color: rgb(203, 203, 203);
    height:100vh;
    margin: auto;
}
.titlesection1{
    background-color: rgb(237, 237, 237);
    width: 60%;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: rgb(92, 89, 89) 2px 1px 1px 1px;
    padding: 15px;
}
.title1{
    width: 100%;
    font-size: 36px;
    border: none;
    font-weight:700;
    color: gray;
    border-bottom: 2px solid rgb(95, 91, 91);
    padding-bottom: 10px;
}
.textarea1{
    width: 100%;
    height: 180px;
    margin: 10px auto;
    border-radius: 3px;
}
.buttonsection12{
    display: flex;
    justify-content: end;
    margin: 15px 0px 15px 0px;
}
.buttonsection1{
    background-color: navy;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin: 0px 8px;
    font-weight: bold;
}
